services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_DATABASE: timetable
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: django_user
      MYSQL_PASSWORD: django_pass
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django_app
    environment:
      - MYSQL_HOST=db
      - DJANGO_DEBUG=false
      - MYSQL_DATABASE=timetable
      - MYSQL_USER=django_user
      - MYSQL_PASSWORD=django_pass
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    volumes:
      - static_volume:/app/staticfiles
      - logs_volume:/app/logs
      - temp_volume:/app/temp
      - .:/app # ТОЛЬКО для отладки! Не в production! (чтобы не пересобирать образ при изменении)

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/app/staticfiles
    depends_on:
      - web

volumes:
  mysql_data:
  static_volume:
  logs_volume:
  temp_volume:
